*{
    margin: 0;
    font-family: robota, Arial, Helvetica, sans-serif;
    border: border-box;  
}

.background-page{
    height: 100vh;
    width: 100%;
    background-image: url(client-payment.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-icon{
    position: relative;
    top: 60px;
    height: 60px;
    width: 30px;
    color: #0F4A8A;
    font-size: 2rem;
    font-weight: 600;
    left: 1450px;
}