*{
    margin: 0;
    font-family: robota, Arial, Helvetica, sans-serif;
    border: border-box;
}

header{
    position: relative;
}

.title-bar{
    height: 80px;
    width: 100%;
    background-size: contain;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
   

    position: fixed;
    z-index: 1;
}

.title-bar-logo{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.main-logo{
    height: 70px;
    width: 70px;
    background-image: url(logo-uwc.png);
    background-size: cover;
}

.title{
   /* display: flex; */
   color: #F4F2EE;
   text-shadow: 2px 2px 20px black;
   margin-left: -15px;
}

.title-uwc{ 
    /* font-weight: 750; */
    font-family:Bebas Neue, Arial, Helvetica, sans-serif ;
    font-size: 1.6rem;
    word-spacing: 2px;
    letter-spacing: 1.1px;
}

.worker-title{
    color: white;
    /* text-shadow: 2px 2px 20px black; */
    margin-left: 800px;
}

.worker-name{
    font-weight: 600;
}

.language{
    color: white;
    display: flex;
    height: 35px;
    width: 120px;
    border: white 1px solid;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

    transition: ease;
    transition-duration: 0.2s;
}

.language-icon{
    font-size: 2rem;
}

.language-select{
    color: white;
    background-color: #0A66C2;
    font-family: roboto , Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: none;
    margin-left: 5px;

    transition: ease;
    transition-duration: 0.2s;
}
.language:hover{
    background-color: #F4F2EE;
    color: #0A66C2;
}

.language:hover .language-select{
    background-color: #F4F2EE;
    color: #0A66C2;
}








.nav-bar{
    background-color: #0F4A8A;
    height: 40px;
    width: 100%;
    border: 1px solid #F4F2EE;
    display: flex;
    align-items: center;


    position: fixed;
    top: 80px;
    z-index: 1;
}

#home{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 50px;
}

#client{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 50px;
}

#worker{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 50px;
}

#about-us{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 50px;
}

#contact-us{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 850px;
}

#login{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 30px;
}

#register{
    color: white;
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
}



.hover-underline{
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    border: none;
    transition: ease;
    transition-duration: 0.1s;
    color: #F4F2EE;
}

.hover-underline:hover{
    
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
}


.hero-container{
    height: 100vh;
    width: 100%;
    /* background-image: url(hero-section-image1.png);
    background-size: cover; */
    border: 1px solid #F4F2EE;
}

/* this code is for hero image slider */

.hero-container{
    width: 100%;
    /* position: absolute; */
    overflow: hidden;
    
}

.hero-wrapper{
    width: 100%;
    display: flex;
    animation: slide 9s infinite ease;
    position: relative;
    top: 121px;
}

.hero-image{
    width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}


.whatsapp-support{
    position: fixed;
    top: 690px;
    left: 1300px;
    background-color: rgb(24, 170, 53);
    color: white;
    font-family: roboto;
    height: 50px;
    width: 200px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: ease-in;
    transition-duration: 0.1s;
}

.whatsapp-support:hover{
   background-color: white;
   color:rgb(24, 170, 53) ;
}
/* 
this section of code is for client page */

#client-page{
    min-height: 100vh;
    width: 100%;
    background-image: url(client-background-image.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link{
    /* width: 400px; pehele design ke liye ye rakha badme niche wala */
    user-select: none;

    display: block;
    background-color:#0F4A8A;
    /* #0F4A8A #0A66C2 */
    padding: 18px;
    /* border-radius: 12px; */
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid transparent;

    transition: ease;
    transition-duration: 0.2s;
    /* isse solve hue tha problem */
    margin-right: 35px;
    
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border: 2px solid #ffffff;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 \ 9;
    object-fit: cover;
    border-radius: 10px;
}


.card-list .card-link .badge {
    color: #0A66C2;
    background-color: #dde4ff;
    font-family: roboto,Arial, Helvetica, sans-serif;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.15rem;
    color: white;
    font-weight: 400;

    margin-left: 10px;
    margin-top: -6px;
}


.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: #ffffff;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #ffffff;
    font-family: roboto, Arial, Helvetica, sans-serif;
    transform: rotate(-45deg);
    
    margin-left: 5px;
    margin-bottom: 5px;
    transition: ease;
    transition-duration: 0.2s;
}

.card-list .card-link:hover .card-button{
    color: #0F4A8A;
    background: white;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #0A66C2;
}


.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

@media screen  and (max-width: 768px) {
    .card-wrapperz{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }

}
  

/* this code is for work page*/



#worker-page{
    height: 100vh;
    width: 100%;
    background-image: url(client-background-image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-of-worker{
    color: #0F4A8A;
    font-family: roboto,Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    
}

.text-step{
    color: #0F4A8A;
    font-family: roboto,Arial, Helvetica, sans-serif;
    font-weight: 500;

}

#text-area{
    height: 200px;
    width: 400px;
    position: relative;
    left: -50px;
    bottom: 50px;
}

.inner-page{
    position: relative;
}

.heading-div-worker{
    display: flex;
    position: relative;
}

#title-2{
    margin-left: 400px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}

.video{
    margin-left: 160px;
}


/* this section of code is for about us and contact us */



#contact-us-page{
    height: 100vh;
    width: 100%;
    background-color: gray;

}

#about-us-page{
    height: 100vh;
    width: 100%;
    background-color: rgb(69, 66, 66);
}