{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link of swiper css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


    <!-- icon cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- roboto font ember code -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Bebas Neue font ember code -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/style8.css' %}">
    <title>UWC/workers registration form</title>
</head>
<body>
    <div class="background-page">
        <section class="container">
            <div><a href="{% url 'home_page' %}" class="cancel-icon"><i class="fa-solid fa-xmark"></i></a></div>
            <header>Worker Registration Form</header>
            <form action="{% url 'worker_registration_form' %}" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <div class="input-box">
                    <label>Full Name</label>
                    <input type="text" name="full_name" placeholder="Enter full name" required/>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Age</label>
                        <input type="number" name="age" placeholder="Enter your age" min="16" required/>
                    </div>
                    <div class="input-box">
                        <label>Photo (Passport Size)</label>
                        <div class="file-button"><input type="file" name="photo"  style="width: 300px;" id="file-id" required></div>
                    </div>
                </div>
                <div class="input-box">
                    <label>Full Address</label>
                    <input type="text" name="full_address" placeholder="Enter full address" required/>
                </div>

                <div class="column">
                    <div class="input-box">
                        <label>District</label>
                        <input type="text" name="district" placeholder="Enter district" required/>
                    </div>
                    <div class="input-box" > 
                        <label>Village</label>
                        <input type="text" name="village" id="exp-input" placeholder="Enter village (optional)" required>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Tehsil</label>
                        <input type="text" name="tehsil" placeholder="Enter tehsil" required/>
                    </div>
                    <div class="input-box">
                        <label>Pincode</label>
                        <input type="text" name="pincode" id="exp-input" placeholder="Enter pincode" required/>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>State</label>
                        <input type="text" name="state" placeholder="Enter state" required/>
                    </div>
                    <div class="input-box">
                        <label>Date of Birth</label>
                        <input type="date" name="date_of_birth" id="exp-input" placeholder="Enter pincode" style="width: 350px;" required/>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Mobile number</label>
                        <input type="number" name="mobile_number" placeholder="mobile number" required/>
                    </div>
                    <div class="input-box">
                        <label>Whatsapp number</label>
                        <input type="number" name="whatsapp_number" placeholder="Enter whatsapp number (optional)" style="width: 300px;" >
                    </div>
                </div>
                <div class="gender-box">
                    <label for="gender">Gender</label>
    <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
                    
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Bank Branch Name</label>
                        <input type="text" name="bank_branch_name" placeholder="Enter bank branch name" required/>
                    </div>
                    <div class="input-box">
                        <label>IFSC Code</label>
                        <input type="text" name="ifsc_code" id="exp-input" placeholder="Enter IFSC code"  required/>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Bank Account Number</label>
                        <input type="text" name="bank_account_number" placeholder="Enter bank account number" required/>
                    </div>
                    <div class="input-box">
                        <label>Bank Passbook PDF (Front Page)</label>
                        <div class="file-button"><input type="file" name="bank_passbook_pdf"  style="width: 300px;" id="file-id" required></div>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label>Aadhar Number</label>
                        <input type="text" name="aadhar_number" placeholder="Enter bank aadhar number" required/>
                    </div>
                    <div class="input-box">
                        <label>Aadhar Card PDF (Both Side)</label>
                        <div class="file-button"><input type="file" name="aadhar_card_pdf"  style="width: 300px;" id="file-id" ></div>
                    </div>
                </div>

                <div class="gender-box">
                    <label for="marital_status">Marital Status</label>
    <select name="marital_status" id="marital_status">
        <option value="Married">Married</option>
        <option value="Unmarried">Unmarried</option>
        <option value="Widow">Widow</option>
    </select>
                   
                </div>

                <div class="column">
                    <div class="input-box">
                        <label for="">Education Qualification</label>
                        <input type="text" name="education_qualification" placeholder="Enter education qualification (optional)">
                       
                    </div>
                    <div class="input-box">
                        <label>Work Experience (In Years)</label>
                        <input type="number" name="work_experience" placeholder="Enter 'zero' for less then 1 year" style="width: 300px;" id="work_experience" min="0" required/>
                    </div>
                </div>

                <div class="input-box">
                    <label>Select Worker Type (can select more than one)</label>
                    <br>
                    {% for worker_type in worker_types %}
                        <input type="checkbox" name="worker_type" id="worker-input" name="worker_type" value="{{ worker_type.id }}">
                        <label for="worker-input">{{ worker_type.name }}</label><br>
                    {% endfor %}
                </div>
                {% if form.worker_type.errors %}
    <ul class="errorlist" style="color: red; font-size: 14px; margin-top: 5px; list-style-type: none; padding-left: 0;">
        {% for error in form.worker_type.errors %}
            <li style="border: 1px solid red; background-color: #fdd; padding: 5px; border-radius: 3px; margin-bottom: 5px;">{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

                
                <button>Submit</button>
            </form>
        </section>
    </div>
</body>
</html>