*{
    margin: 0;
    padding: 0;
    font-family: robota, Arial, Helvetica, sans-serif;
    border: border-box;  
}

.background-page{
    min-height: 100vh;
    width: 100%;
    background-image: url(client-background-image.png);
    background-size: cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #0F4A8A;
    padding: 25px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.container header{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-align: center;

}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;

}

.input-box label{
    color: white;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 95%;
    outline: none;
    color: #707070;
    margin-top: 8px;
    font-size: 1rem;
    border: 1px solid #ddd ;
    border-radius: 6px;
    padding: 0 15px;
}



.form .gender-box{
    margin-top: 20px;
}

.gender-box h3{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;

}

.form .column{
    display: flex;
    column-gap: 30px;
}

.form :where(.gender-option , .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.form .gender {
    column-gap: 5px;
}

.gender input{
    accent-color: rgb(232, 255, 83);
}

.form :where(.gender input , .gender label){
    cursor: pointer;
}

.form button{
    height: 50px;
    width: 100%;
    color: #0F4A8A;
    font-size: 1.15rem;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
    transition: all 0.2s ease;
    font-weight: 500;
    margin-top: 30px;
}
.form button:hover{
    background-color: #F4F2EE;
    color: #0F4A8A;
    border: 1px solid transparent;
}

.file-button{
    background-color: white;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 8px;
}

#file-id{
    margin-top: -9px;
    border: none;
    padding-top: 22px;

}

.cancel-icon{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    left: 680px;
}

#worker-input{
    height: 17px;
    width: 17px;
}

#worker-label{
    height: 20px;
    width: fit-content;
}
/* responsive */
@media screen and (max-width:500px){
    
   .form .column{
    flex-wrap: wrap;

   }
  
}
